<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Новая задача</title>
</head>
<body>

<form th:method="POST" th:action="@{/todolist}" th:object="${task}">
  <label for="description">Введите название задачи: </label>
  <input type="text" th:field="*{description}" id="description"/>
  <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</div>
  <br/>
  <label for="deadline">Введите срок выполнения задачи:</label>
  <input type="text" th:field="*{deadline}" id="deadline"/>
  <div style="color: red" th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}">deadline error</div>
  <br/>
  <label for="status">Введите Статус задачи: </label>
  <input type="text" th:field="*{status}" id="status"/>
  <div style="color: red" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">status error</div>
  <br/>
  <input type="submit" value="Создать!">
</form>

</body>
</html>